<!DOCTYPE html>
{% extends "base_logged.jinja2" %}

{% block body %}

    <h2>Edited Stories:</h2><br>
    <!--suppress HtmlUnknownTarget -->
    <form action="/story" method="post">
        {% for story in edited_stories %}
            <button name="story" value="{{ story.storyname }}">
                {{ story.storyname }}
            </button>
            {{ br(2) }}
        {% endfor %}

        {{ br(4) }}

        <h2>Unedited Stories:</h2><br>
        {% for story in unedited_stories %}
            <button name="story" value="{{ story.storyname }}">
                {{ story.storyname }}
            </button>
            {{ br(2) }}
        {% endfor %}
    </form>

{% endblock body %}
