<!DOCTYPE html>
{% extends "logged_in_base.jinja2" %}

{% block body %}

    {% include "flashes.jinja2" %}

    <h1>Welcome {{ user.username }}!</h1>

    <h2>Edited Stories:</h2><br>
    <!--suppress HtmlUnknownTarget -->
    <form action="/story" method="post">
        {% for story in edited_stories %}
            <button name="story" value="{{ story.storyname }}">
                {{ story.storyname }}
            </button>
            {{ br(2) }}
        {% endfor %}

        {{ br(4) }}

        <h2>Unedited Stories:</h2><br>
        {% for story in unedited_stories %}
            <button name="story" value="{{ story.storyname }}">
                {{ story.storyname }}
            </button>
            {{ br(2) }}
        {% endfor %}
    </form>

{% endblock body %}
